@tailwind base;
@tailwind components;
@tailwind utilities;

/********** GENERIC **********/
/*
Tailwinds text/opacity classes are acting strange when setting the text color 
closer to the root of the document. using below to go transparent.
*/
.make-transparent {
    color: transparent;
}

/********** THEME ICON **********/

.spinTheme {
    -webkit-animation: spin 0.5s linear;
    -moz-animation: spin 0.5s linear;
    -o-animation: spin 0.5s linear;
    animation: spin 0.5s linear;
}
/*
 * Set up the keyframes to actually describe the begining and end states of 
 * the animation.
 */
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

::root {
    --val: 0;
}
/********** PROGRESS CIRCLE **********/
.lds-ring {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
}
.dark .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 8px;
    border: 8px solid #bef264;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #bef264 transparent transparent transparent;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 8px;
    border: 8px solid #92400e;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #92400e transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/********** MENU ICON **********/
.hamburger {
    width: 20px;
    height: 20px;
}

.hamburger__bar {
    transition-property: transform;
    transition-duration: 0.3s;
    transform-origin: center;
    stroke-width: 10%;
}

.hamburger__bar--top {
    transform: translateY(-40%);
}

.hamburger__bar--bot {
    transform: translateY(40%);
}

.is-opened .hamburger__bar--top {
    transform: rotate(45deg);
}

.is-opened .hamburger__bar--mid {
    transform: scaleX(0.1);
}

.is-opened .hamburger__bar--bot {
    transform: rotate(-45deg);
}

/********** SKILL CLOUD **********/
.skill {
    width: 50px;
    height: 50px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
.skill:hover {
    filter: drop-shadow(3px 5px 2px rgb(159 18 57 / 0.4));
}

.dark .skill:hover {
    filter: drop-shadow(3px 5px 2px rgb(196 181 253 / 0.4));
}

.myOrbit:hover {
    animation-play-state: paused;
}

.speedSlow {
    -webkit-animation: myOrbit 5s linear infinite; /* Chrome, Safari 5 */
    -moz-animation: myOrbit 5s linear infinite; /* Firefox 5-15 */
    -o-animation: myOrbit 5s linear infinite; /* Opera 12+ */
    animation: myOrbit 5s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */
}

.speedMedium {
    -webkit-animation: myOrbit 4s linear infinite;
    -moz-animation: myOrbit 4s linear infinite;
    -o-animation: myOrbit 4s linear infinite;
    animation: myOrbit 4s linear infinite;
}

.speedFast {
    -webkit-animation: myOrbit 3s linear infinite;
    -moz-animation: myOrbit 3s linear infinite;
    -o-animation: myOrbit 3s linear infinite;
    animation: myOrbit 3s linear infinite;
}
/*
 * Set up the keyframes to actually describe the begining and end states of 
 * the animation.
 */
@-webkit-keyframes myOrbit {
    from {
        -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
}

@-moz-keyframes myOrbit {
    from {
        -moz-transform: rotate(0deg) translateX(5px) rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg) translateX(5px) rotate(-360deg);
    }
}

@-o-keyframes myOrbit {
    from {
        -o-transform: rotate(0deg) translateX(5px) rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg) translateX(5px) rotate(-360deg);
    }
}

@keyframes myOrbit {
    from {
        transform: rotate(0deg) translateX(5px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(5px) rotate(-360deg);
    }
}

/********** CODE OVERLAY **********/
/* desert scheme ported from vim to google prettify, with a few color changes by Rampalamp*/
pre .str {
    color: #ffa0a0;
} /* string  - pink */
pre .kwd {
    color: #f0e68c;
    font-weight: bold;
}
pre .com {
    color: #14532d;
} /* comment */
pre .typ {
    color: #98fb98;
} /* type    - lightgreen */
pre .lit {
    color: #cd5c5c;
} /* literal - darkred */
pre .pun {
    color: #cd5c5c;
} /* punctuation */
pre .pln {
    color: #87ceeb;
} /* plaintext */
pre .tag {
    color: #f0e68c;
    font-weight: bold;
} /* html/xml tag    - lightyellow */
pre .atn {
    color: #bdb76b;
    font-weight: bold;
} /* attribute name  - khaki */
pre .atv {
    color: #ffa0a0;
} /* attribute value - pink */
pre .dec {
    color: #98fb98;
} /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #aeaeae;
} /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
    list-style-type: none;
}
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
}
